body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  nav.navbar {
    background-image: linear-gradient(to right, #2396de, navy);
  }
  nav.navbar {
    color:white;
  }
  .noteCard {
    border: solid 1px silver;
    min-height: 120px;
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
  }
  td.selected {
    font-weight: bold;
  }
  td span:hover{
    cursor: pointer ;
  }
  .sidebar {
    border: solid 1px silver;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  